
@{
    ViewBag.Title = "Activity";

}


<body>
    <main class="page landing-page"></main>
    <div class="register-photo" style="background-color: rgb(0,0,0);">
        <div class="form-container">
            <form method="post">
                <h2 class="text-center" style="font-family: Audiowide, cursive;"><strong>Select Workout Type&nbsp;</strong></h2>
                <h2 class="text-center" style="font-family: Audiowide, cursive;"><strong>Workout Plan</strong></h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>Time</th>
                                <th>Workout Type</th>
                                <th>Trainer</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>xxx</td>
                                <td>xx:xx</td>
                                <td>xxxxxxxxx</td>
                                <td>xxxxxxxxx</td>
                                <td><i class="fa fa-remove" style="border-color: rgb(255,0,0);"></i></td>
                            </tr>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
                <h2 class="text-center" style="font-family: Audiowide, cursive;"><strong>Completed Workouts</strong></h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>Time</th>
                                <th>Workout Type</th>
                                <th>Trainer</th>
                                <th>Print Reports</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>xxx</td>
                                <td>xx:xx</td>
                                <td>xxxxxxxxx</td>
                                <td>xxxxxxxxx</td>
                                <td><i class="fa fa-print" style="border-color: rgb(255,0,0);"></i></td>
                            </tr>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>

</body>

